*,
*::before,
*::after{
    box-sizing: border-box;
}



:root{
    
 


    --clr-light: #FFF;
    --clr-dark: #000;


    --fw-light: 300;
    --fw-regular: 400;
    --fw-medium: 500;
    --fw-semibold: 600;
    --fw-bold: 700;

    

}






body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    list-style: none;
    text-decoration: none;
}

header{
    position: fixed;
    right: 0;
    top: 0;
    z-index: 1000;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 33px 9%;
    

    
}

h3 {
    font-size: 21px;
    
}

h3 a {

    text-decoration: none;
    color: #fff;


}



ul {
    display: flex;
    align-items: center;
    gap: 56px;
  
}

li {

    list-style: none;

}

li a {
    text-decoration: none;
    color: #fff;
    font-weight: 500;

 
    
}


.bx-menu {
    font-size: 24px;
}



.site-header {
   
    transition: box-shadow 0.3s ease-in-out;
    transition: background-color 0.3s ease-in-out; 
}

.site-header.scrolled {
    background-color: #000000;
    

    box-shadow: 0 1px 6px 0 rgb(32 33 36 / 10%);
}



.first-section {
   
    height: 100vh;
    padding: 40px 200px;
    background-color: rgb(118, 39, 80);
    display: flex;
    align-items: center;


    gap: 80px;

}


.first-section img {
    height: 410px;
    width: 410px;
}


.content-text h1, p {
    margin: 0;
}

.content-text {
    display: flex;
    flex-direction: column;
    gap: 24px;
}


.content-text h1 {
    font-size: 48px;
    font-weight: 800;
    color: #ffffff;

}


.content-text p {
    font-size: 20px;
    font-weight: var(--fw-regular);
    color: #ffffff;
}



.content-text button {
    border: none;
    outline: none;
    width: 200px;
    padding: 24px 36px;
    border-radius: 50px;
}


.content-text a {
    text-decoration: none;
    font-weight: 800;
    color: #000;
    letter-spacing: 1px;
    line-height: 1.5;
}



.second-section {
   
    height: 100vh;
    padding: 40px 200px;
    background-color: rgb(118, 39, 80);
    display: flex;
    align-items: center;


    gap: 80px;

}


.second-section img {
    height: 410px;
    width: 410px;
}


.contact-container {
    background: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    text-align: center;
}

.content-text {
    display: flex;
    flex-direction: column;
    gap: 24px;
}


.content-text h1 {
    font-size: 48px;
    font-weight: 800;
    color: #ffffff;

}


.content-text p {
    font-size: 20px;
    font-weight: var(--fw-regular);
    color: #ffffff;
}



.content-text button {
    border: none;
    outline: none;
    width: 200px;
    padding: 24px 36px;
    border-radius: 50px;
}


.content-text a {
    text-decoration: none;
    font-weight: 800;
    color: #000;
    letter-spacing: 1px;
    line-height: 1.5;
}
h2 {
    color: #333;
}

label {
    display: block;
    margin: 10px 0 5px;
    text-align: left;
}

input, textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 15px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
}

input[type="submit"] {
    background-color: #4caf50;
    color: #fff;
    cursor: pointer;
    padding: 10px;
    border: none;
    border-radius: 4px;
}

input[type="submit"]:hover {
    background-color: #45a049;
}


