*,
*::before,
*::after{
    box-sizing: border-box;
}





:root{
    
    --clr-text: #030104;
    --clr-text-lessopacity: #62645B;

    --clr-nav-bar-color: white;
    --clr-background-color: #2a48b3;
    --clr-primary-color: #3559E0;
    --clr-button-color: #6C70DC;
    
    --clr-light: #FFF;
    --clr-dark: #000;


    --fw-light: 300;
    --fw-regular: 400;
    --fw-medium: 500;
    --fw-semibold: 600;
    --fw-bold: 700;

    


    

}


body {
  
    display: flex;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    line-height: 1.5;







}

.sidebar {

position: sticky;
top: 0;
left: 0;
bottom: 0;
width: 300px;   
height: 100vh;
overflow: hidden;
transition: all 0.5s ease;
background: var(--clr-background-color);
padding-bottom: 60px;

box-shadow: 0px 12px 16px 0px rgba(16, 24, 40, 0.08);


}

.sidebar.minimized {
width: 84px;
}

/* 

.sidebar:hover {
width: 260px;
transition: 0.5s;
} 
*/

.logo {
    height: 100px;
    padding: 32px 24px;
    
    display: flex;
    align-items: center;
    gap: 32px;
    
    
    }
    
    .logo img {
    width:200px;
    height: 200px;
    
    
    }
    
    .logo i {
    color: white;
    font-size: 24px;
    opacity: 0;
    cursor: pointer;
    
    }
    
    
    .menu {
    height: 88%;
    position: relative;
    padding: 0;

    }
    
    
    .menu a {
        color: white;
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 1rem;
    }
    
    .menu button {

    padding: 0;
    outline: none;
    border: none;
    display: flex;
    align-items: center;
    gap: 1rem;

    

    background-color: transparent;
    
    font-family: 'Poppins', sans-serif;
    font-weight: var(--fw-regular);
    font-size:24px;
    }
    
    
    .menu i {
    
    color: var(--clr-text);
    font-size: 24px;
    color: white;
    
    }
    
    .menu span {
    color: white;
    font-size: 1rem;
    font-weight: var(--fw-medium);
    } 
    
    
    .bxs-chevron-down {
    
    margin-right: 20px;
    
    }
    
    
    
    
    
    .menu li {
    
    list-style: none;
    transition: all 0.5s ease-in-out;
    padding: 16px 0 16px 32px;
    margin-bottom: 8px;

    position: relative;


    
    
    }
    
  
    
    
    li a i  {
    transition: all 0.5s ease-in-out;
   
    }
    
    li a span  {
     transition: all 0.5s ease-in-out;
    
    
    }
    


  


    
  .bxs-chevron-down {
    position: absolute;
    right: 0;
  }
    
    
    
    .dropdown-container {
    display: none;
    padding: 16px 0 0 55px;
    margin-top: 16px;
    
    
    }
    
    .dropdown-container a {
    color: white;
    font-size: 1rem;
    font-weight: var(--fw-medium);
    transition: all 0.5s ease-in-out;
    margin-bottom: 24px;
    }



    li a i  {
        transition: all 0.5s ease-in-out;
       
        }
        
        li a i  {
         transition: all 0.5s ease-in-out;
      
        
        }
        
    

        

    
    
    li button i  {
    transition: all 0.5s ease-in-out;
   
    }
    
    li button span  {
     transition: all 0.5s ease-in-out;
  
    
    }
    
 
     

    .dropdown-container a:hover {
       color: var(--clr-light);
    }
    
    
   
    
    
    
    
    
    
    
    .logout {
    
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    
    }
    
    .logout button {
    background-color: transparent;
    border: none;
    outline: none;
    }



    .main--content {
        width: 100%;
   
        background-color: 	#F0F0F0;
    }


    .header--wrapper {
        background-color: white;
        padding: 16px 40px;
        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

        position: relative;
      

        display: flex;
        align-items: center;
        justify-content: space-between;
        
    }


    .ri-menu-2-fill {
        font-size: 24px;
        color: var(--clr-light);
     
    }


    .profile {
         display: flex;
         align-items: center;
         gap: 24px;
    }


    .profile img {
        width: 36px;
        height: 36px;
        outline: none;
        border: none;
        background-color: #Ccc;

        object-fit: cover;

        border-radius: 8px;
    }


    .profile-name p {
        margin: 0;
        color: var(--clr-text);
    }


    .profile-name span {
        margin: 0;
        color: var(--clr-text);
    }


    .profile i {
        color: var(--clr-text);
        font-size: 24px;
    }




    .profile button {
        border: none;
        outline: none;
        background-color: transparent;
    }


    .dropdown-content {
        display: none;
        position: absolute;
        right: 1%;
        bottom: -230%;
    }



    .a-content {

        background-color: #f9f9f9;
        z-index: 1;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);


        display: flex;
        flex-direction: column;
        align-items: start;
        gap: 8px;
    }

    .a-content a {
        width: 100%;
        padding: 16px;
        color: var(--clr-text);
        text-decoration: none;
    }
    

    .a-content a:hover {background-color: #f1f1f1}

 



    
    .body--wrapper {
     
        padding: 16px 40px;
      

    }


/* DASHBOARD CSS */


    .info-wrap {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap:24px;

        margin-bottom: 48px;
    }


    .info-container {
   
        padding: 16px;
        border-radius: 4px;
    }

    .info-container:nth-child(1) {
        background-color: #4977E7;
    }


    .info-container:nth-child(2) {
        background-color: #7CC5FA;
    }


    .info-container:nth-child(3) {
        background-color: #9E71CE;
    }


    .info-container:nth-child(4) {
        background-color: #86D1B3;
    }


    .info-container p, a {
        color: white;
    }


    .info-maintext {
            font-size: 24px;
            font-weight: var(--fw-semibold);
    }


    
    hr {
     
        outline: none;
        border: none;
        border: 1px solid #ccc;
        
     }
 
     .calender-container {
         margin-top: 48px;
         background-color: white;
         box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
         border-radius: 4px;
         padding: 16px;
     }
 
    
     .calender-container button {
         background-color: var(--clr-button-color);
         padding: 8px 16px;
         border: none;
         outline: none;
         border-radius: 4px;
 
         color: white;
 
         margin-bottom: 24px;
     }
 
     #calendar {
        
         margin: 0 auto;
     
     }



     

.modal-container {
    display: none;
     position: fixed; /* Stay in place */
     z-index: 1; /* Sit on top */
     padding-top: 100px; /* Location of the box */
     left: 0;
     top: 0;
     width: 100%; /* Full width */
     height: 100%; /* Full height */
     overflow: auto; /* Enable scroll if needed */
     background-color: rgb(0,0,0); /* Fallback color */
     background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
 
     transition: 0.2s all ease-in-out;
 }


 .event-form {
    background-color: white;
    width: 475px;
    padding: 24px;

    display: flex;
    flex-direction: column;
    gap: 12px;
  

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-40%, -50%);
 }


 .event-form input {
    padding: 8px 16px;
 }
 .event-form .save-event-btn {
    background-color: var(--clr-button-color);
    padding: 8px 16px;
    border: none;
    outline: none;
    border-radius: 4px;

    color: white;


}

.event-form .close-event-btn {
    background-color: var(--clr-text-lessopacity);
    padding: 8px 16px;
    border: none;
    outline: none;
    border-radius: 4px;

    color: white;

}

 
  


    /* DASHBOARD CSS */




    /* CITIZENS CSS */


        .rectangle {
            border: 1px solid #ccc;
            padding: 24px;
        }

        .table-title {
            display: flex;
            align-items: center;
            gap: 48px;
            position: relative;
        }

        .table-title p {
            font-size: 24px;
            font-weight: var(--fw-medium);
        }

        table a {
            color: var(--clr-dark);
        }

        .add-member {
        
            font-weight: var(--fw-medium);

            text-decoration: none;
            background-color: var(--clr-primary-color);
            padding: 12px;
            color: white;
            border-radius: 4px;
        }


        .import-member, .export-member {
            
            color: var(--clr-text);
            border-radius: 4px;
            padding: 12px;
            border: 1px solid #Ccc;
            background-color: white;

            font-family: 'Poppins' , sans-serif;
            font-size: 1rem;
        }

        .table-title-info {
            position: absolute;
            right: 0;
        }


        .table-title-info p {
            font-size: 1rem;
            margin: 0;
            color: var(--clr-text-lessopacity);
            text-align: end;
        }

        .table-title-info span {
            font-size: 1rem;
            margin: 0;
            color: var(--clr-text-lessopacity);
            text-align: end;
        }
    

        .button-action {
            display: flex;
            align-items: center;
            gap: 12px;
        }

        .verify-button {
            border: none;
            outline: none;

            display: flex;
            align-items: center;
            gap: 4px;
             padding: 10px;
             border-radius: 4px;
             text-decoration: none;
             color: white;
             background-color: var(--clr-primary-color);
             font-family: 'Poppins', sans-serif;
        }

        .view-button, .edit-button   {
            display: flex;
            align-items: center;
            gap: 4px;
            padding: 8px;
            border-radius: 4px;
            text-decoration: none;
            color: white;
            background-color: var(--clr-primary-color);
        }


      .delete-button {
        display: flex;
       align-items: center;
        border: none;
        outline: none;
        gap: 4px;
        padding: 8px;
        border-radius: 4px;
        text-decoration: none;
        color: white;
        background-color: var(--clr-primary-color);
        font-size: 1rem;
        font-family: 'Poppins', sans-serif;

      }




    /* CITIZENS CSS */   
    
    
    /* ADD CITIZEN CSS */

    .AddMember-title {
        font-size: 24px;
        font-weight: var(--fw-medium);
    }   

    form {
        display: flex;
        flex-direction: column;
        gap: 16px;
    }

    .input-box {
        width: 600px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .input-box input {
     
        padding: 12px;
    width: 400px;
   

        font-family: 'Poppins', sans-serif;
    }

    .Save-Btn {
        cursor: pointer;
        border-radius: 4px;
        width: 150px;
        height: 50px;
        border: none;
        outline: none;
        padding: 12px;
        background-color: var(--clr-primary-color);
        color: white;

        font-family: 'Poppins', sans-serif;
    }




    
.success-message {

 
    display: none;
    position: absolute;
    bottom: 20px;
    color: #270;
    background-color: #DFF2BF;
    padding: 10px;
    border-radius: 5px;
}



.errorMessage {

    display: none;
    position: absolute;
    bottom: 20px;
    color: #D8000C;
    background-color: #FFBABA;
    padding: 10px;
    border-radius: 5px;
  }


.errorMessage i {
    color: #D8000C;

}







    /* ADD CITIZEN CSS */




    /* USERS LIST CSS */    






/* ADD SERVICES CSS */


.service-box {
    width: 600px;
    display: flex;
    flex-direction: column;
    
   
}

.service-box input {
 
    padding: 12px;
    width: 100%;
    margin-top: 16px;

    font-family: 'Poppins', sans-serif;
}


.service-box textarea {
    padding: 12px;
    width: 100%;
    margin-top: 16px;
    font-family: 'Poppins', sans-serif;
}




/* ADD SERVICES CSS */

/* SERVICES LIST CSS */




/* SERVICES LIST CSS */




/* CITIZEN VIEW */

.Seniorh1 {
    text-align: center;
}

.citizen-form {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.citizen-container {
  

    background-color: #e4e4e4;
    padding: 16px;
}

.citizen-container p {
    font-weight: var(--fw-semibold);
}

.citizen-container span {
    font-weight: var(--fw-regular);
}


.pension-container {
  

    background-color: #e4e4e4;
    padding: 16px;
}





/* CLAIM PENSION PART */

.claim-wrap {
    display: flex;
    justify-content: center;
    gap: 200px;
    
  
    height: 80vh;

   padding: 36px 80px;

    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.form-container {
    display: flex;
    flex-direction: column;
    gap: 100px;
}


hr {
    margin: 0;
}

.claim-container {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 16px;
}

.claim-container select {
    width: 400px;
    padding: 12px;
}

.claim-container input {
    width: 400px;
    padding: 12px;
}



.Save-btn {
    cursor: pointer;
    border-radius: 4px;
  
    border: none;
    outline: none;
    padding: 12px;
    background-color: var(--clr-primary-color);
    color: white;

    font-family: 'Poppins', sans-serif;
}

