*,
*::before,
*::after{
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
  }

:root{
    
 


    --clr-light: #FFF;
    --clr-dark: #000;


    --fw-light: 300;
    --fw-regular: 400;
    --fw-medium: 500;
    --fw-semibold: 600;
    --fw-bold: 700;

    

}






body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    list-style: none;
    text-decoration: none;
}

header{
    position: sticky;
    right: 0;
    top: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 33px 9%;
    

    
}

h3 {
    font-size: 21px;
    
}

h3 a {

    text-decoration: none;
    color: black;


}



ul {
    display: flex;
    align-items: center;
    gap: 56px;
  
}

li {

    list-style: none;

}

li a {
    text-decoration: none;
    color: black;
    font-weight: 500;

 
    
}


.bx-menu {
    font-size: 24px;
}



.site-header {
   
    transition: box-shadow 0.3s ease-in-out;
    transition: background-color 0.3s ease-in-out; 
}



.site-header.scrolled {
    background-color: var(--clr-light);
    

    box-shadow: 0 1px 6px 0 rgb(32 33 36 / 10%);
}





.first-section {
   
    height: 80vh;
    margin:  33px 9%;
   
    display: flex;
    align-items: center;
    justify-content: space-between;


}


.image-content {
   
    width: 70%;
    height: 100%;
}


.image-content img {
    object-fit: cover;
    height: 100%;
    width: 100%;
}




.content-text {
    height: 100%;
    background-color: #222D4D;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;

    padding-left: 56px;
  
}




.content-text h1 {
    font-size: 48px;
    font-weight: 600;
    color: #ffffff;

}


.content-text p {
    margin: 0;
    font-size: 20px;
    font-weight: var(--fw-regular);
    color: #ffffff;
}



.content-text button {
    border: none;
    outline: none;
    width: 200px;
    padding: 24px 36px;
    border-radius: 50px;
}


.content-text a {
    margin-top: 24px;
    border: none;
    outline: none;
    color: white;
}








.second-section {
   
    height: 75vh;
    margin:  84px 9%;

    gap: 80px;

}


.heading h1{
    font-size: 36px;
    color: var(--clr-dark);

  
    font-weight: var(--fw-semibold);


    
}




.heading p{
    font-size: 18px;
    color: #050404;
    margin-bottom: 35px;
}



.container{

   
    margin: 0 auto;
 
}
.about{
   display: flex;
   justify-content: space-between;
   gap: 48px;
  
  
    
}

.about-content{
    flex: 1;
 
}
.about-content h2{
    font-size: 23px;
    margin-bottom: 15px;
    color: #050404;
}
.about-content p{
    font-size: 18px;
    line-height: 1.5;
    color: #050404;
    text-align: justify;
}



.support-content {
    margin-top: 24px;

    display: flex;
    align-items: center;
    gap: 48px;
  
}


.check-content i {
    margin-right: 12px;
    color: #222D4D;
}










.third-section {
    padding: 0 13.125rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 24px;

    height: 70vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: linear-gradient(rgba(122, 122, 122, 0.5), rgba(255,255,255,.5)), url("https://hms.harvard.edu/sites/default/files/media/850Elderly-walking-GettyImages-587506108.jpg");
}


.content-third {
  
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    padding: 16px;

}

.content-third i {
    color: white;
    margin-top: 4px;
    margin-bottom: 16px;
   
    font-size: 36px;
    text-align: start;
    text-shadow: 3px 4px 7px rgba(81,67,21,0.8);
}

.content-third p {
    margin: 0;
    color: white;
    margin-bottom: 4px;
    text-align: start;
    text-shadow: 3px 4px 7px rgba(81,67,21,0.8);
}








.fourth-section {
    padding: 6.125rem 13.125rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

 
    
    gap: 24px;


    
}


.content-text1{ 
    
    height: 80%;
    text-align: center;
}




  .auth-header {
    background-color: rgb(216, 116, 169);
    color: #ffffff;
    padding: 20px;
    text-align: center;
  }

  .auth-header h2 {
    color: #000000;
}

  .auth-form {
    padding: 20px;
  }

  .form-group {
    margin-bottom: 20px;
  }

  .form-group label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
  }

  .form-group input {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
  }

  .form-group button {
    background-color: rgb(118, 39, 80);
    color: #ffffff;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
  }

  .switch-form {
    text-align: center;
    margin-top: 20px;
  }

  .switch-form button {
    background-color: #4caf50;
    color: #ffffff;
    border: none;
    padding: 8px 15px;
    cursor: pointer;
  }





.contact-container {
    background: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 600px;
    text-align: center;
}


h2 {
    color: #333;
}

label {
    display: block;
    margin: 10px 0 5px;
    text-align: left;
}

input, textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 15px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
}

input[type="submit"] {
    background-color: #4caf50;
    color: #fff;
    cursor: pointer;
    padding: 10px;
    border: none;
    border-radius: 4px;
}

input[type="submit"]:hover {
    background-color: #45a049;
}





.Login-btn {
    padding: 12px 24px;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
  

    color: #000;

}